# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
db.sqlite3
*/__pycache__/*
workout/migrations/__pycache__/
out
gen
