# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
db.sqlite3
*/__pycache__/*
workout/migrations/__pycache__/
out
gen
!/static/node_modules/angular-smart-table/ISSUE_TEMPLATE.md
!/static/node_modules/angular-smart-table/bower.json
!/static/node_modules/angular-smart-table/.npmignore
!/static/node_modules/angular-smart-table/.travis.yml
!/static/node_modules/angular-smart-table/readme.md
!/static/node_modules/angular-smart-table/changeLog.md
!/static/node_modules/angular-smart-table/gulpFile.js
!/static/node_modules/angular-smart-table/package.json
!/static/node_modules/angular-smart-table/index.js
spotter_project/__pycache__/
static/node_modules/
workout/__pycache__/
/static/assets/bootstrap-3.3.7-dist/
