# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# JetBrains project files
.idea/
*/__pycache__/*
out
gen

db.sqlite3
workout/migrations/*
static/node_modules/*
static/assets/*